@import url("./statusColors.css");

.post-date{
    font-weight: 300;
    margin-left: 3rem;
    margin-top: 1.2rem;
    font-size: 1.4rem;
    opacity: .8;
    
}
.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin-left: 3rem;
    margin-top: 2rem;
    width: 344px;
    position: relative;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.3rem;
    width: 44px;
    height: 445px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.publish-time {
    margin: 1rem 0 0 0.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.time-icons{
    display: flex;
    width: max-content;
    height: 30px;
    position: absolute;
    top: 0;
    left: 55px;
}
.card-icons{
    margin: 1rem 0 0 3rem;
}
.card-icons > span{
    margin-left: 1rem;
    cursor: pointer;
}

.card-entry{
    position: absolute;
    top: 45px;
    left: 4rem;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.card-entry > p{
    opacity: .6;
}
.card-entry > p > a{
    text-decoration: none;
    color: #44a8f0;
}

.card-entry > a > img{
    margin-top: .5rem;
}

.statistics-icons{
    position: absolute;
    bottom: 14px;
    left: 54px;
}
.statistics-icons > img{
    margin-left: 1rem;
}
.stats{
    font-size: .9rem;
    opacity: .8;
    margin: .5rem;
    position: relative;
    top: -3px;
}