.status0{
    background-color: orange;
}
.status1{
    background-color: green;
}
.status2{
    background-color: steelblue;
}
.status3{
    background-color: grey;
}
.status4{
    background-color: orangered;
}
