.status0{
    background-color: #f7bf38;
}
.status1{
    background-color: #3ac183;
}
.status2{
    background-color: #67b1f2;
}
.status3{
    background-color: #acacac;
}
.status4{
    background-color: #fb6450;
}
